@font-face { 
    font-family: 'HeirofLightBold';
    src: url('../font/HeirofLightBold.woff');
}

body {
    font-family: 'HeirofLightBold';
    margin: 0px;
	overflow: hidden;
	transform-origin: left center;
}

.container {
    display: flex;
	flex-direction: column;
    justify-content: flex-end;
    background-image: url('../image/5pSheet.jpg');
	width: 1919px;
	height: 1057px;
	background-repeat: no-repeat;
	background-size: cover;
    background-position: 0% 0%;
    margin: 0px;
	position: relative;
}

.popup {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.65);
	z-index: 2;
}

.settingContainer {
	width: 70%;
	height: 70%;
    background-image: url('../image/settingBackGroundImage.jpg');
    background-repeat: no-repeat;
	background-size: 100%;
    background-position: 50% 50%;
	background-color: rgba(60, 48, 21, 1);
	border-radius: 30px;
}

.identityContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.identityText {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

.goodContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.evilContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.playerContainer {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.player {
    display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.identity {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border: 2px solid #E0EBFF;
    border-radius: 50%;
    background-color: #828282;
    opacity: initial;
    margin: 10px;
}

.opacity {
    opacity: 0.5;
}

.identity .identityMark {
    width: auto; height: auto;
    max-width: 110px;
    max-height: 110px;
}

.identity .questionMark {
    width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
}

.votedMark {
    width: auto; height: auto;
    max-width: 200px;
    max-height: 200px;
}

.nickname {
    width: 200px;
    height: 25px;
    border: 2px solid #E0EBFF;
    border-radius: 10% / 50%;
    background-color: #403418;
    text-align: center;
    color: #ffffff;
}

.goodPlayer {
    border-color: #00ff00;
    color: #00ff00;
}

.evilPlayer {
    border-color: #FF0000;
    color: #FF0000;
}

.seat0 {
	left: 1100px;
	top: 100px;
}

.seat1 {
	left: 1450px;
	top: 150px;
}

.seat2 {
	left: 1700px;
	top: 400px;
}

.seat3 {
	left: 1450px;
	top: 750px;
}

.seat4 {
    left: 1100px;
	top: 850px;
}

.seat5 {
	left: 700px;
	top: 850px;
}

.seat6 {
	left: 350px;
	top: 750px;
}

.seat7 {
	left: 100px;
	top: 400px;
}

.seat8 {
	left: 350px;
	top: 150px;
}

.seat9 {
	left: 700px;
	top: 100px;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1024px;
}

.expeditionResultContainer {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 455px;
	top: 325px;
}

.expeditionResult {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 180px;
    height: 180px;
    font-size: 80px;
    color: #ffffff;
    border: 1px solid #8FBC8F;
    border-radius: 50%;
    margin: 0px 10px;
}   

.expeditionResult .identityMark {
    width: auto; height: auto;
    max-width: 200px;
    max-height: 200px;
}

.quest4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.twoFailText {
    font-size: 12px;
}

.expeditionSuccess {
    border-color: #00ff00;
    color: #00ff00;
}

.expeditionFail {
    border-color: #FF0000;
    color: #FF0000;
}

.rejectCountContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 570px;
	top: 625px;
}

.rejectCount {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 80px;
    height: 80px;
    font-size: 30px;
    color: #ffffff;
    border: 1px solid #8FBC8F;
    border-radius: 50%;
    margin: 0px 5px;
}

.rejectCount5 {
    background-color: #FF0000;
    opacity: 0.5;
}

.rejectCountMark {
    border-color: #7B68EE;
    color: #7B68EE;
}

.playerNumberContainer {
    display: flex;
    flex-direction: row;
    font-size: 50px;
    margin-left: 150px;
    opacity: 0.8;
}

.goodCount {
    color: #00ff00;
}

.vsText {
    color: #ffffff;
    margin: 0px 20px;
}

.evilCount {
    color: #FF0000;
}

.button {
    display: flex;
    position: absolute;
	-moz-box-shadow: 0px 1px 0px 0px #1c1b18;
	-webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #8e8260) );
	background:-moz-linear-gradient( center top, #eae0c2 5%, #8e8260 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#8e8260');
	background-color:#eae0c2;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
    text-indent:0;
	border:2px solid #312114;
	color:#505739;
	font-size: 25px;
	font-weight:bold;
	font-style:normal;
	height: 50px;
	line-height: 45px;
	width: 140px;
	text-decoration: none;
    text-shadow:0px 1px 0px #e1d7b8;
	cursor: pointer;
}

.button:focus {
	outline: 0;
}

.button:active {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2) );
	background:-moz-linear-gradient( center top, #ccc2a6 5%, #eae0c2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2');
	background-color:#ccc2a6;
}

.button:disabled {
	color:#aba07f;
	cursor: default;
}

.startButton {
	position: absolute;
    left: 1500px;
	top: 950px;
	padding-left: 43px;
}

.settingButton {
	position: absolute;
    left: 1700px;
	top: 950px;
	padding-left: 47px;
}

.closeButton {
	position: absolute;
    left: 1400px;
	top: 800px;
	padding-left: 45px;
}

.drop-shadow {
	-webkit-filter: drop-shadow(5px 5px 10px rgba(0,0,0,.5));
	-moz-filter: drop-shadow(5px 5px 10px rgba(0,0,0,.5));
	-ms-filter: drop-shadow(5px 5px 10px rgba(0,0,0,.5));
	-o-filter: drop-shadow(5px 5px 10px rgba(0,0,0,.5));
	filter: drop-shadow(5px 5px 10px rgba(0,0,0,.5));
}

.drop-shadow-light {
	-webkit-filter: drop-shadow(1px 1px 1px #000);
	-moz-filter: drop-shadow(1px 1px 1px #000);
	-ms-filter: drop-shadow(1px 1px 1px #000);
	-o-filter: drop-shadow(1px 1px 1px #000);
	filter: drop-shadow(1px 1px 1px #000);
}

.drop-shadow-strong {
	-webkit-filter: drop-shadow(20px 20px 10px rgba(0,0,0,0.5));
	-moz-filter: drop-shadow(20px 20px 10px rgba(0,0,0,0.5));
	-ms-filter: drop-shadow(20px 20px 10px rgba(0,0,0,0.5));
	-o-filter: drop-shadow(20px 20px 10px rgba(0,0,0,0.5));
	filter: drop-shadow(20px 20px 10px rgba(0,0,0,0.5));
}
